@import "styles/common_styles/index";

.auth_page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .auth_wrapper {
        width: clamp(250px, 500px, 70%);
        display: flex;
        flex-direction: column;

        .title {
            font-size: 32px;
            margin-bottom: 4px;
            letter-spacing: 2px;
        }

        .subtitle {
            font-weight: 600;
            font-size: 17px;
            opacity: .6;
        }

        form {
            margin: 24px 0;

            .remember-forgot {
                margin: 24px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .forgot {
                    color: $green;
                    font-size: 15px;
                    opacity: .8;
                    font-weight: 600;
                    letter-spacing: 1px;

                    @media (hover: hover) {
                        &:hover {
                            cursor: pointer;
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .register {
            margin-top: 24px;
            font-weight: 400;
            font-size: 14px;
            opacity: .8;
            letter-spacing: 1px;

            .sign-up {
                font-weight: 800;
                color: $green;
                opacity: inherit;
                transition: all .15s ease-in-out;

                @media (hover: hover) {
                    &:hover {
                        cursor: pointer;
                        opacity: 1;
                        color: #47f6a1;
                    }
                }
            }
        }
    }
}