@import "styles/common_styles/index";

.history {
    margin-bottom: 12px;
    margin-top: 40px;

    .dashboard-categories {
        display: none;
    }

    .add_wrapper {
        display: flex;
        flex-direction: column;

        .form_wrapper+.form_wrapper {
            margin-top: 16px;
        }
    }

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        border-bottom: 1px solid $grey;

        .title {
            display: inline-flex;
            align-items: center;
            gap: 12px;
            border-right: 1px solid $grey;
            padding-right: 20px;

            svg {
                max-width: 46px;
                max-height: 46px;
            }

            span {
                color: #FFF;
                font-size: 26px;
            }
        }

        .total {
            font-size: 18px;
            letter-spacing: 2px;
        }
    }

    .table {
        width: 100%;

        .item {
            width: 100%;
            text-align: left;
        }

        .title {
            min-width: 25%;
            text-align: left;
        }

        .wallet_value {
            text-align: right;
            width: 75%;
        }

        .table_head {
            padding: 24px 0;
            width: 100%;
            display: flex;
            align-items: center;

            .item {
                color: rgba(98, 102, 109, 0.8);
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 14px;
                font-weight: 700;
                text-wrap: nowrap;
            }
        }

        .table_body {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 16px;

            .row {
                width: 100%;
                display: flex;
                align-items: center;

                .item {
                    color: #fff;
                    letter-spacing: 1px;
                    font-size: 15px;
                    font-weight: 600;
                }
            }
        }
    }

    .history_empty {
        margin-top: 8px;
        font-size: 24px;
    }
}


@media screen and (max-width: $md-size-max-width) {
    .history {
        .head {
            padding: 16px 0 0;
            flex-direction: column;
            align-items: flex-start;

            .title {
                border-right: 0;
                padding-right: 0;
                padding-bottom: 8px;

                svg {
                    max-width: 40px;
                    max-height: 40px;
                }

                span {
                    font-size: 24px;
                }
            }

            .total {
                padding-bottom: 16px;
                font-size: 16px;
            }
        }

        .table {
            padding-top: 20px;

            .table_head {
                display: none;
            }

            .table_body {
                gap: 0;

                .row {
                    padding-bottom: 8px;
                    flex-direction: column;
                    position: relative;

                    &::after {
                        content: '';
                        height: 1px;
                        width: 50%;
                        background-color: $grey;
                        bottom: -8px;
                        margin-right: auto;
                        position: relative;
                    }

                    &+.row {
                        padding-top: 8px;
                    }

                    .item {
                        min-width: 100%;
                        text-align: left;

                        &.title::before {
                            content: 'Title: ';
                        }

                        &.category::before {
                            content: 'Category: ';
                        }

                        &.date::before {
                            content: 'Date: ';
                        }

                        &.price::before {
                            content: 'Price: ';
                        }

                        &.wallet_value::before {
                            content: 'Wallet value: ';
                        }

                        &::before {
                            content: '';
                            color: rgba(98, 102, 109, 0.8);
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            font-size: 14px;
                            font-weight: 700;
                            text-wrap: nowrap;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: $sm-size-max-width) {
    .cash_cards .card {
        max-width: 100%;
    }
}


@media screen and (max-width: $sm-size-max-width) {
    .history {
        order: 1;
        margin-top: 30px;

        .dashboard-categories {
            display: flex;
        }
    }
}