@import "styles/common_styles/index";

.dashboard {
    margin-top: 20px;
}

@media screen and (max-width: $sm-size-max-width) {
    .dashboard {
        display: flex;
        flex-direction: column;
    }
}