@import "styles/common_styles/index";

.profile_page {
    margin-top: 20px;

    .title {
        font-size: 36px;
        letter-spacing: 2px;
        font-weight: 400;
    }

    .subtitle {
        margin-top: 18px;
        font-size: 26px;
        font-weight: 100;
    }

    form {
        margin-top: 8px;

        .submit_form {
            margin-top: 16px;
            width: 100%;
            outline: none;
            border: 0;
            background-color: $grey;
            border-radius: 5px;
            padding: 12px;
            color: $green;
            opacity: 1;
            font-weight: 600;
            letter-spacing: 1px;
            cursor: pointer;
            font-size: 16px;
            transition: all .15s ease-in-out;

            @media (hover: hover) {
                &:hover {
                    color: $grey;
                    background-color: $green;
                }
            }
        }

        .error_wrapper ul {
            margin-top: 6px;
            margin-bottom: 0;
        }
    }
}