@import "styles/common_styles/index";

.profile_page {
    margin-top: 20px;

    .title {
        font-size: 36px;
        letter-spacing: 2px;
        font-weight: 400;
    }

    .subtitle {
        margin-top: 18px;
        font-size: 26px;
        font-weight: 100;
    }

    form {
        margin-top: 8px;

        .my_button {
            margin-top: 16px;
        }

        .error_wrapper ul {
            margin-top: 6px;
            margin-bottom: 0;
        }
    }
}